src/org.bpel4chor.model.test/files/OrderingProcessSimple3.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:null="null" xmlns:p="http://www.w3.org/2001/XMLSchema"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.iaas.uni-stuttgart.de" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
	name="OrderingProcessSimple3" targetNamespace="http://www.iaas.uni-stuttgart.de"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="OrderingProcessSimple3PT">
		<plnk:role name="OrderProcessProvider" portType="tns:OrderingProcessSimple3" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="OrderingProcessSimple3CallbackPT">
		<plnk:role name="OrderProcessCallback" portType="tns:OrderingProcessSimple3Callback" />
	</plnk:partnerLinkType>

	<vprop:property name="correlProperty" type="xsd:string" />

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.iaas.uni-stuttgart.de"
			elementFormDefault="qualified">

			<element name="OrderInfo">
				<complexType>
					<sequence>
						<element name="acountNumber" type="string" />
						<element name="oderStatus" type="string" />
						<element name="orderTotalPrice" type="int" />
						<element name="status" type="string" />
						<element name="numDeliveries" type="int" />
					</sequence>
				</complexType>
			</element>
			<element name="Response">
				<complexType>
					<sequence>
						<element name="text" type="string" />
					</sequence>
				</complexType>
			</element>

			<element name="PaymentInfo">
				<complexType>
					<sequence>
						<element name="amt" type="int" />
						<element name="actNum" type="string" />
					</sequence>
				</complexType>
			</element>


			<element name="Delivered" type="integer"></element>
		</schema>
	</types>
	<message name="orderRequest">
		<part element="tns:OrderInfo" name="payload" />
	</message>
	<message name="orderResponse">
		<part name="payload" element="tns:Response"></part>
	</message>
	<portType name="OrderingProcessSimple3">
		<operation name="order">
			<input message="tns:orderRequest" name="order" />
		</operation>
	</portType>


	<binding name="OrderingProcessSimple3Binding" type="tns:OrderingProcessSimple3">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="order">
			<soap:operation soapAction="www.iaas.uni-stuttgart.de/order" />
			<input name="order">
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>


	<service name="OrderingProcessSimple3">
		<port binding="tns:OrderingProcessSimple3Binding" name="OrderingProcessSimple3Port">
			<soap:address
				location="http://localhost:8080/ode/processes/OrderingProcessSimple3" />
		</port>
	</service>


</definitions>
