src/org.bpel4chor.model.test/files/ProcessBlaArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.iaas.uni-stuttgart.de" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ProcessBla"
	targetNamespace="http://www.iaas.uni-stuttgart.de">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		TYPE DEFINITION - List of services participating in this BPEL process The 
		default output of the BPEL designer uses strings as input and output to the 
		BPEL Process. But you can define or import any XML Schema type and us them 
		as part of the message types. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<vprop:property element="tns:ProcessBlaRequest" name="content" />
	<vprop:propertyAlias messageType="tns:ProcessBlaRequestMessage"
		part="payload" propertyName="tns:content">
		<vprop:query><![CDATA[/tns:input]]></vprop:query>
	</vprop:propertyAlias>
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			attributeFormDefault="unqualified" elementFormDefault="qualified"
			targetNamespace="http://www.iaas.uni-stuttgart.de">

			<element name="ProcessBlaRequest">
				<complexType>
					<sequence>
						<element name="input" type="string" />
					</sequence>
				</complexType>
			</element>

			<element name="ProcessBlaResponse">
				<complexType>
					<sequence>
						<element name="result" type="string" />
					</sequence>
				</complexType>
			</element>

		</schema>
	</types>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		MESSAGE TYPE DEFINITION - Definition of the message types used as part of 
		the port type defintions ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<message name="ProcessBlaRequestMessage">
		<part element="tns:ProcessBlaRequest" name="payload" />
	</message>

	<message name="ProcessBlaResponseMessage">
		<part element="tns:ProcessBlaResponse" name="payload" />
	</message>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PORT TYPE DEFINITION - A port type groups a set of operations into a logical 
		service unit. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the ProcessBla BPEL process -->
	<portType name="ProcessBla">
		<operation name="initiate">
			<input message="tns:ProcessBlaRequestMessage" />
		</operation>
	</portType>

	<!-- portType implemented by the requester of ProcessBla BPEL process for 
		asynchronous callback purposes -->
	<portType name="ProcessBlaCallback">
		<operation name="onResult">
			<input message="tns:ProcessBlaResponseMessage" />
		</operation>
	</portType>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		PARTNER LINK TYPE DEFINITION the ProcessBla partnerLinkType binds the provider 
		and requester portType into an asynchronous conversation. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="ProcessBla">
		<plnk:role name="ProcessBlaProvider" portType="tns:ProcessBla" />
		<plnk:role name="ProcessBlaRequester" portType="tns:ProcessBlaCallback" />
	</plnk:partnerLinkType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		BINDING DEFINITION - Defines the message format and protocol details for 
		a web service. ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<binding name="ProcessBlaBinding" type="tns:ProcessBla">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="initiate">
			<soap:operation
				soapAction="http://www.iaas.uni-stuttgart.de/initiate" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>

	<binding name="ProcessBlaCallbackBinding" type="tns:ProcessBlaCallback">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="onResult">
			<soap:operation
				soapAction="http://www.iaas.uni-stuttgart.de/onResult" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<service name="ProcessBla">
		<port binding="tns:ProcessBlaBinding" name="ProcessBlaPort">
			<soap:address location="http://localhost:8080/ProcessBla" />
		</port>
	</service>

	<service name="ProcessBlaCallback">
		<port binding="tns:ProcessBlaCallbackBinding" name="ProcessBlaPortCallbackPort">
			<soap:address location="http://localhost:8080/ProcessBlaCallback" />
		</port>
	</service>
</definitions>
