src/org.bpel4chor.model.test/files/ProcessOrder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:p="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.iaas.uni-stuttgart.de"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" name="ProcessOrder"
	targetNamespace="http://www.iaas.uni-stuttgart.de">


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
		SERVICE DEFINITION - A service groups a set of ports into a service unit. 
		~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<types>
		<!-- import namespace="http://www.iaas.uni-stuttgart.de" location="TypeSchema.xsd"/ -->
        <!-- type-system extensibility element -->
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iaas.uni-stuttgart.de" elementFormDefault="qualified">

		<element name="OrderInfo">
			<complexType>
				<sequence>
					<element name="acountNumber" type="string"/>
					<element name="oderStatus" type="string"/>
					<element name="orderTotalPrice" type="int"/>
					<element name="status" type="string"/>
					<element name="numDeliveries" type="int"/>
				</sequence>
			</complexType>
		</element>
		<element name="Response">
			<complexType>
				<sequence>
					<element name="text" type="string"/>
				</sequence>
			</complexType>
		</element>
	
		<element name="PaymentInfo">
			<complexType>
				<sequence>
					<element name="amt" type="int"/>
					<element name="actNum" type="string"/>
				</sequence>
			</complexType>
		</element>


		<element name="Delivered" type="integer"></element>
</schema>
    </types>

	<plnk:partnerLinkType name="ProcessOrderPT">
		<plnk:role name="ProcessOrder" portType="tns:ProcessOrder" />
	</plnk:partnerLinkType>
	
	

	<message name="processOrderRequest">
		<part element="tns:OrderInfo" name="payload" />
	</message>
	<portType name="ProcessOrder">
		<operation name="processOrder">
			<input message="tns:processOrderRequest" />
		</operation>
	</portType>
	<binding name="ProcessOrderBinding" type="tns:ProcessOrder">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="processOrder">
			<soap:operation soapAction="http://www.iaas.uni-stuttgart.de/processOrder" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>
	<service name="ProcessOrder">
		<port binding="tns:ProcessOrderBinding" name="ProcessOrderPort">
			<soap:address location="http://localhost:8080/ode/processes/ProcessOrder" />
		</port>
	</service>
</definitions>
